
body {
    background: #fff;
    font: 18px Arial, sans-serif;
    font-family: 'Times New Roman', serif;
    color: rgb(35,35,35,0.9);
    width: 100%;
}
h3 {
    font-size: 2em;
    font-weight: 500;
    line-height: 1.2em;
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 20;

}

.container{

    /**max-width: 1140px;**/
    padding: 15px, 15px, 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
}

h1{
    font-weight:100;
    font-size: 2.5em;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2{
    margin-top: 0px;
    font-size: 1.3em;
    font-weight:100;
    color:gray
}

.blob{
    text-size-adjust: 100%;
    display: block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left:200px;
    /**inline-size: 354px;
    max-width: 800px;**/
}

.blob p{
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5;
    margin-block-end: 1em;
    margin-bottom:  1.5rem;
}

img{
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: contain;
    box-sizing: inherit;
}

.close p{
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    margin-block-end: 1em;
    padding-left: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
}

.close{
    box-shadow: inset 3px 0 0 0 rgb(150 150 150);
}

.nav{
    /*position: sticky;*/
    position: absolute;
    top: 0;
    right: 50%;
    width: 180px;

    margin-right: 320px;
}

a{
    color: gray;
    text-decoration:none;
    font-size: 1em;
}

li{

    margin-bottom: 10px;
}

ul{
    padding-left: 10px;
}

.fig{
    position: relative;
}

.menu{
    display:flex;
    list-style-type: none;
    width: fit-content;
    margin-left: auto;
}

.menu li{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-weight: 500;
    color: gray;
    border-bottom: 1px solid gray;
}


figcaption {
    /*
    position: absolute;
    top: 0px;
    left: 100%;
    padding-left: 20px;
    width: 280px;\
    */
    position:initial;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 5px;
    padding-left: 0px;
}

#contents-header{
    padding-top: 250px;
    font-size: 1.5em; 
    border-bottom: 2px solid gray;
}

.title-header{
    display: grid;
    padding-left: 10px;
}

.header-title{
    background-color: white;
    padding-left: 0px;
    padding-top:45px;
}

.header{
    position: absolute;
    width: 100%;
    height:160px;
    z-index: -1;
}

#item1{
    padding-top: 45px;
    grid-column: 1 / 2;
    grid-row: 1;
}

#item2{
    grid-column: 1 / 2;
    grid-row: 1;

}

@media (max-width: 1200px) {
    .nav{
        margin-right: 27%;
    }
    }

@media (max-width: 900px) {
    .blob{
        text-size-adjust: 100%;
        display: block;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        /**inline-size: 354px;
        max-width: 800px;**/
    }

    .header-title{
        background-color: white;
        padding-left: 0px;
        padding-top:5px;
    }

    .nav{
        /*position: sticky;*/
        position: inherit;
        padding: 0px;
    }
    ul{
        padding-left: 0px;
    }

    figcaption {
        position:initial;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 5px;
        padding-left: 0px;
    }

    h3{
        padding-top: 5px;
    }

    #contents-header{
        padding-top: 5px
    }

    body{

    max-width: 900px;
    }
   }